<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplicationz">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/carregamento"
        tools:targetApi="31">
        <activity
            android:name=".Liquidos"
            android:exported="false" />
        <activity
            android:name=".Distancia"
            android:exported="false" />
        <activity
            android:name=".Perfil"
            android:exported="false" />
        <activity
            android:name=".Temperatura"
            android:exported="false" />
        <activity
            android:name=".Historico"
            android:exported="false" />
        <activity
            android:name=".cadastrar"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".inicial"
            android:exported="false" />
        <activity
            android:name=".ferramentastela"
            android:exported="false" />
        <activity
            android:name=".Velocidade"
            android:exported="false" />
        <activity
            android:name=".Numerosprimos"
            android:exported="false" />
        <activity
            android:name=".pacotes"
            android:exported="false" />
        <activity
            android:name=".calculadora"
            android:exported="false" />
        <activity
            android:name=".Desconto"
            android:exported="false" />
        <activity
            android:name=".Bhaskara"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".Carregamento"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>